div.left {
	height: 40px;
  width: 400px;
  text-align: right;
  margin-top: 5px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;

}
div.right {
	height: 40px;
  width: 425px;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;

}
div.tip {
	height: 40px;
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;

}

div.blank {
	height: 25px;
  width: 15px;
  margin-top: 20px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;

}
