<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dummy Bank!</title>
   <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/alignmentCenter.css" th:href="@{/alignmentCenter.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
   	<script type="text/javascript" src="/static/angular-ui-router.min.js" th:src="@{/angular-ui-router.min.js}"></script>
   <script type="text/javascript" src="/static/app/popuppage.js" th:src="@{/app/popuppage.js}"></script>
    <script type="text/javascript" src="/static/app/indexController.js" th:src="@{/app/indexController.js}"></script>
    <!-- script type="text/javascript" src="/static/app/drawdownCtrl.js" th:src="@{/app/drawdownCtrl.js}"></script -->
		<script>
  				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  				ga('create', 'UA-104201989-1', 'auto');
  				ga('send', 'pageview');

		</script>
		
		
		


</head>
<body ng-app="myApp">
	<div ng-controller="index as vm">
	    <nav class="navbar navbar-info navbar-fixed-top ">
			<div class="bg-primary">
	  			<div class="container-fluid">
	    			<div class="navbar-header">
	    				<div class="text-center">
	      					<h2>Bank Dummy Web Service Test</h2>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    		
	    <!-- Menu -->
	    <nav class="navbar navbar-light " style="background-color: #ffffff;">
	  		<div class="container-fluid">
	    		<div class="collapse navbar-collapse" id="myNavbar">
			    	<ul class="nav navbar-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
			        	<li><a href="debittrans" onclick="ga('send', 'event', 'clicklinkDebit', 'Clicklinkdebit', 'linkdebit');">sendDebitTrans Test</a></li>
			        	<li><a href="drawdown" onclick="ga('send', 'event', 'clicklinkDrawdown', 'Clicklinkdd', 'linkdd');">sendDrawdownTrans Test</a></li>
			       	 	<li><a href="inqcreditlimit" onclick="ga('send', 'event', 'clicklinkInquiry', 'Clicklinkinq', 'linkinq');">inqCreditLimit Test</a></li>			      	
			       	 	</ul>   
			    </div>
			  </div>
			</nav>  
		</nav>
		<div style="margin-top:130px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
		
			<ol class="breadcrumb">
				<form class="form-horizontal" ng-submit="setDrawdownTrans(data)">  
				  <h3>sendDrawdownTrans Test</h3>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">sendDrawdownTrans Delay Response Time Config</h3>
							</div>
								<div class="panel-body">
								<div class="row">
								<div class="left">
									<label>Delay Response Time (seconds)</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.time" id="delay-textbox" name="delayTextInuput" class="form-control" placeholder="please enter seconds Ex.Use 0 not for Delay" ></input>
								</div>
								<div class="blank"></div>
								<div class="tip">
								(use 0 = not delay)
								</div>
							</div>
						</div>
				</div>
				
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">sendDrawdownTrans New request Config</h3>
				  </div>
						<div class="panel-body">
							<div class="row">
								<div class="left">
									<label>Trade Navigator Transaction No</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.tradeNavigatorTransactionNo" id="trade-navigator-transaction-no-textbox" name="tradeNavigatorTransactionNo" class="form-control" placeholder="please enter KBANK Loan No."></input>
								</div>
								<div class="blank"></div>
								<div class="tip">
								(Loan no.)
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Trade Navigator Transaction TimeStamp</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.tradeNavigatorTransactionTimeStamp" id="trade-navigator-transaction-time-stamp-textbox" name="tradeNavigatorTransactionTimeStamp" class="form-control" placeholder="YYYYMMDDHHMMSS"></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Interest Amount</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.interestAmount" id="interest-amount-textbox" name="interestAmount" class="form-control" placeholder="please enter value"></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Repayment Fee</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.repaymentFee" id="repayment-fee-textbox" name="repaymentFee" class="form-control" placeholder="please enter value"></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return Status</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnStatus" id="return-status-textbox" name="returnStatus" class="form-control" placeholder="โปรดอ่านรูปแบบการกรอกด่านล่าง"></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
								</div>
								<div class="blank"></div>
								<div class="right">
										<div class="panel panel-warning">
										<div class="panel-heading"><label>รูปแบบการกรอกStatus</label></div>
												<div class="panel-body">
													
													WB : wait queue for Book Loan and Have not been deducted<br></br>
													C : Cancel Success inTrade Finance<br></br>
													R : Reject Success in Trade Naviagtor<br></br>
													FB : Fail to book loan<br></br>
													B : Book loan Success, Good Fund<br></br>
													FC : Fail to cancel<br></br>
													FR : Fail to reject<br></br>
													FI : Fail to inquiry<br></br>
													EB : Timeout<br></br>
														
												</div>
										</div>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return code</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnCode" id="return-code-textbox" name="returnCode" class="form-control" placeholder=""></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return message</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnMessage" id="return-message-textbox" name="returnMessage" class="form-control" placeholder=""></input>
								</div>
							</div>
						</div>
				</div>
				
				<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">sendDrawdownTrans Inquiry Config</h3>
							</div>
								<div class="panel-body">
								<div class="row">
								<div class="left">
									<label>Trade Navigator Transaction No</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.tradeNavigatorTransactionNo2" id="trade-navigator-transaction-no-2-textbox" name="tradeNavigatorTransactionNoInuput" class="form-control" placeholder="KBANK Loan No." ></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Trade Navigator Transaction TimeStamp</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.tradeNavigatorTransactionTimeStamp2" id="trade-navigator-transaction-time-stamp-2-textbox" name="tradeNavigatorTransactionTimeStamp2Inuput" class="form-control" placeholder="YYYYMMDDHHMMSS" ></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Interest Amount</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.interestAmount2" id="interest-amount-2-textbox" name="interestAmount2Inuput" class="form-control" placeholder="please enter value" ></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>Repayment Fee</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.repaymentFee2" id="repayment-fee-2-textbox" name="repaymentFee2Inuput" class="form-control" placeholder="please enter value" ></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return Status</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnStatus2" id="return-status-2-textbox" name="returnStatus2Inuput" class="form-control" placeholder="please enter value" ></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
								</div>
								<div class="blank"></div>
								<div class="right">
										<div class="panel panel-warning">
										<div class="panel-heading"><label>รูปแบบการกรอกStatus</label></div>
												<div class="panel-body">
													
													WB : wait queue for Book Loan and Have not been deducted<br></br>
													C : Cancel Success inTrade Finance<br></br>
													R : Reject Success in Trade Naviagtor<br></br>
													FB : Fail to book loan<br></br>
													B : Book loan Success, Good Fund<br></br>
													FC : Fail to cancel<br></br>
													FR : Fail to reject<br></br>
													FI : Fail to inquiry<br></br>
													EB : Timeout<br></br>
														
												</div>
										</div>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return code</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnCode2" id="return-code-2-textbox" name="returnCode2" class="form-control" placeholder=""></input>
								</div>
							</div>
							<div class="row">
								<div class="left">
									<label>return message</label>
								</div>
								<div class="blank"></div>
								<div class="right">
								<input type="text" ng-model="data.returnMessage2" id="return-message2-textbox" name="returnMessage2" class="form-control" placeholder=""></input>
								</div>
							</div>
							<div class="row">
									<div class="left"></div>
									<div class="blank"></div>
										<div class="right">
											<button class="btn btn-success" type="submit" ng-click="reset()" onclick="ga('send', 'event', 'clickresetvalueDD', 'clickresetDD', 'resetDD');" id="reset-button"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset</button>
											<button class="btn btn-primary" type="submit" onclick="myFunction();ga('send', 'event', 'clicksavedd', 'Clicksave1', 'savedd');" id="save-button"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Save</button>
										</div>
				
								</div>
						</div>
				</div>	
				</form>
		</ol>
	</div>
</body>
</html>