<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dummy Bank!</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
   	<script type="text/javascript" src="/static/angular-ui-router.min.js" th:src="@{/angular-ui-router.min.js}"></script>
   
    <script type="text/javascript" src="/static/app/indexController.js" th:src="@{/app/indexController.js}"></script>
    <!-- script type="text/javascript" src="/static/app/drawdownCtrl.js" th:src="@{/app/drawdownCtrl.js}"></script -->
</head>
<body ng-app="myApp">
	<div ng-controller="index as vm">
	    <nav class="navbar navbar-info navbar-fixed-top ">
			<div class="bg-primary">
	  			<div class="container-fluid">
	    			<div class="navbar-header">
	    				<div class="text-center">
	      					<h2>Bank Dummy Web Service Test</h2>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    		
	    <!-- Menu -->
	    <nav class="navbar navbar-light " style="background-color: #ffffff;">
	  		<div class="container-fluid">
	    		<div class="collapse navbar-collapse" id="myNavbar">
			    	<ul class="nav navbar-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
			        	<li><a href="drawdown">sendDrawdownTrans Test</a></li>
			       	 	<li><a href="inqcreditlimit">sendDebitTrans Test</a></li>			      	
			       	 	</ul>   
			    </div>
			  </div>
			</nav>  
		</nav>
		<div style="margin-top:130px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
		
			<ol class="breadcrumb">
				<form class="form-horizontal" ng-submit="setDrawdownTrans(data)">  
				  <h3>sendDrawdownTrans Test</h3>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">sendDrawdownTrans Delay Response Time Config</h3>
							</div>
								<div class="panel-body">
								<div class="row">
								<div class="col-md-4" align="right">
									<label>Delay Response Time (seconds)</label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.time" id="delay-textbox" name="delayTextInuput" class="form-control" placeholder="please enter seconds Ex.Use 0 not for Delay" ></input>
								</div>
								<div>
								(use 0 = not delay)
								</div>
							</div>
						</div>
				</div>
				
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">sendDrawdownTrans New request Config</h3>
				  </div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4" align="right" >
									<label>tradeNavigatorTransactionNo </label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.tradeNavigatorTransactionNo" id="trade-navigator-transaction-no-textbox" name="tradeNavigatorTransactionNo" class="form-control" placeholder="please enter KBANK Loan No."></input>
								</div>
								<div>
								(Loan no.)
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>tradeNavigatorTransactionTimeStamp </label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.tradeNavigatorTransactionTimeStamp" id="trade-navigator-transaction-time-stamp-textbox" name="tradeNavigatorTransactionTimeStamp" class="form-control" placeholder="YYYYMMDDHHMMSS"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>interestAmount </label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.interestAmount" id="interest-amount-textbox" name="interestAmount" class="form-control" placeholder="please enter value"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>repaymentFee	</label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.repaymentFee" id="repayment-fee-textbox" name="repaymentFee" class="form-control" placeholder="please enter value"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>returnStatus	</label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.returnStatus" id="return-status-textbox" name="returnStatus" class="form-control" placeholder="โปรดอ่านรูปแบบการกรอกด่านล่าง"></input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
								</div>
								<div class="col-md-5">
										<div class="panel panel-warning">
										<div class="panel-heading"><label>รูปแบบการกรอกStatus</label></div>
												<div class="panel-body">
													
													WB : wait queue for Book Loan and Have not been deducted<br></br>
													C : Cancel Success inTrade Finance<br></br>
													R : Reject Success in Trade Naviagtor<br></br>
													FB : Fail to book loan<br></br>
													B : Book loan Success, Good Fund<br></br>
													FC : Fail to cancel<br></br>
													FR : Fail to reject<br></br>
													FI : Fail to inquiry<br></br>
													EB : Timeout<br></br>
														
												</div>
										</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>returnCode </label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.returnCode" id="return-code-textbox" name="returnCode" class="form-control" placeholder=""></input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" align="right">
									<label>returnMessage </label>
								</div>
								<div class="col-md-4">
								<input type="text" ng-model="data.returnMessage" id="return-message-textbox" name="returnMessage" class="form-control" placeholder=""></input>
								</div>
							</div>
							<br></br>
							<div class="row">
										<div class="col-md-4" align="right"></div>
										<div class="col-md-4">
											<button class="btn btn-primary" type="submit">Save</button>
										</div>
				
								</div>
						</div>
				</div>
								
				</form>
		</ol>
	</div>
</body>
</html>